ion-content {
  --background: rgb(255, 255, 255);
  --background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 244, 248, 1) 32%,
    rgba(113, 226, 239, 1) 100%
  );
}



ion-card ion-icon {
  color: red;
}

ion-card img {
  margin: auto;
  height: 100%;
  width: 100%;
}

.avatar {
  border: 1px solid white;
  margin: 3px;
}

ion-card {
    margin: 8%;
    border-radius: 15px;
    --background: rgba(231, 231, 240, 0.657);
    --color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

ion-chip {
  --background: rgba(250, 249, 249, 0.191);
  --color: rgb(10, 10, 10);
}
