<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="new" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/avatar.png" alt="">
    </ion-avatar>

    <ion-label>
      <p>Hola,</p>
      <h3>Nombre, Apellido</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

</ion-content>
