<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            Relevamiento Visual
        </ion-title>
        <ion-avatar slot="end" class="avatar">
            <img src="../../assets/prueba00.png">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button class="lindo boton" expand="block " routerLink="/cosas-lindas"> <span>Cosas Lindas</span></ion-button>
    <ion-button class="feo boton" expand="block " routerLink="/cosas-feas"><span>Cosas Feas</span></ion-button>
</ion-content>