/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
body {
    background-color: #71e2ef;
}

.alertCustom .alert-wrapper {
  --background: linear-gradient(
    85deg,
    rgba(34, 38, 222, 1) 2%,
    rgba(56, 187, 181, 1) 32%,
    rgba(74, 121, 190, 1) 35%,
    rgba(51, 199, 190, 1) 74%,
    rgba(12, 55, 131, 1) 100%
  );
    color:black;
    border-radius: 3rem;
    border:0.12rem solid white;
  }
  .alertCustom .alert-message{
    color:white;
  }
  .alertCustom {
    background: rgba(128, 128, 128, 0.233);
  }
  .alert-button-inner.sc-ion-alert-md {
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: white;
}
.alert-button.sc-ion-alert-md {
  background-color: #c20e0ed3;
  border: 0.1rem solid white;
  border-radius: 5rem;
}